<!--广告位-->
<div class="ad">
<div class="slide">
<div class="slide_content">
<div class="slide_nav">
{foreach from=$ad item=a}
{if $a.show==1}
<dd class="ddd" title="{$a.title}">{$a.show_id}</dd>
{/if}
{/foreach}
</div>
<div class="slide_content_list">
<ul>
{foreach from=$ad item=a}
{if $a.show==1}
<li><a {if $a.url!=''}href="{$a.url}" title="{$a.title}" target="_blank"{/if}><img src="pic.php?src=admin/{$a.picture}&w=960&h=100&zc=0&q=100" border="0" width="960" height="100" alt="{$a.title}"/></a></li>
{/if}
{/foreach}
</ul>
</div>
</div>
</div>
<!--资源页面-->
<!--左边-->
<div class="wrap">
<div class="wrap_left">
<div class="wrap_title">资源分类</div>
<a href="resources.php" title="全部">全部</a>
<div class="dd">按风格</div>
{foreach from=$category item=s}
<a href="resources.php?action={$s.smallcategory}" title="{$s.smallcategory}">{$s.smallcategory}</a>
{/foreach}
<div class="dd">按地区</div>
{foreach from=$area item=s}
<a href="resources.php?action={$s.id}" title="{$s.bigcategory}">{$s.bigcategory}</a>
{/foreach}
<a href="resources.php?action={$s.id+1}" title="其他地区">其他</a>
<div class="dd">按语种</div>
<a href="resources.php?action=cantonese" title="粤语">粤语</a>
<a href="resources.php?action=chinese" title="国语">国语</a>
<a href="resources.php?action=english" title="英语">英语</a>
<a href="resources.php?action=japanese" title="国语">日语</a>
<a href="resources.php?action=korean" title="国语">韩语</a>
<a href="resources.php?action=otherlang" title="其他语言">其他</a>
</div>
<!--右边-->
<div class="wrap_right">
<ul>
{foreach from=$album item=s}
<li><a href="album.php?id={$s.id}" title="{$s.artist}-{$s.title}"><img src="pic.php?src=admin/{$s.picture}&w=148&h=148&zc=0&q=100" border="0" width="148" height="148" alt="{$s.artist}-{$s.title}"/></a></li>
{/foreach}
</ul>
{if $page!=''}
<!--分页-->
<div class="page">{$page}</div>
{/if}
</div>
</div>
</div>
{include file='foot.html'} 