<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_4_1.xsd"
	version="4.1">
	<!-- 定义servlet -->
	<servlet>
		<servlet-name>exam</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:exam.xml</param-value>
		</init-param>
		<async-supported>true</async-supported>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- 定义servlet要拦截的 -->
	<servlet-mapping>
		<servlet-name>exam</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 用默认servlet过滤网页资源文件 -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.map</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.eot</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.otf</url-pattern>
		<url-pattern>*.svg</url-pattern>
		<url-pattern>*.ttf</url-pattern>
		<url-pattern>*.woff</url-pattern>
		<url-pattern>*.woff2</url-pattern>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<!-- 定义编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 定义编码过滤器要拦截的东西 -->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 定义过滤器要拦截的东西 -->
	<filter>
		<filter-name>exam</filter-name>
		<filter-class>com.exam.filter.ExamFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<!-- 定义过滤器要拦截的东西 -->
	<filter-mapping>
		<filter-name>exam</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>