</div>
<div class="clear"></div>
<div class="foot">
<span>Copyright © 2009-2010 <a href="http://lib.gzauto.edu.cn/index" target="_blank" title="图书馆主页">华南理工大学广州汽车学院图书馆</a> 保留全部版权 | 技术支持：<a href="http://lib.gzauto.edu.cn/libmill" target="_blank" title="访问我们的团队博客">极品飞车坊</a> | <a href="http://dh.gzauto.edu.cn/join" target="_blank" title="加入我们的团队">加入我们</a> | 用户交流群：79041971</span>
</div>
<script type="text/javascript" src="templates/template/green/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="templates/template/green/js/jquery.fancybox-1.3.1.js"></script>
<script type="text/javascript" src="templates/template/green/js/Thunder.js"></script>
<script type="text/javascript" src="templates/template/green/js/common.js"></script>
</body>
</html>