<!--经典歌曲频道-->

<div class="long">
  <div class="long_nav">
    <div class="left"></div>
    <div class="middle">经典歌曲频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="经典歌曲频道"><div class="black"></div><img src="templates/template/deafault/images/1.png" width="960" height="150" alt="经典歌曲频道" border="0"/></a> 
 
  </div>
<!--近期热门频道-->
<div class="long">
  <div class="long_nav">
    <div class="left"></div>
    <div class="middle">近期热门频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="近期热门频道"> <img src="templates/template/deafault/images/1.png" width="960" height="150" alt="近期热门频道" border="0"/></a></div>

<!--摇滚频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">摇滚频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="摇滚频道"><img src="templates/template/deafault/images/2.png" width="310" height="130" alt="摇滚频道" border="0"/></a> </div>
<div class="kong">&nbsp;</div>
<!--电子频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">电子频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="电子频道"> <img src="templates/template/deafault/images/2.png" width="310" height="130" alt="电子频道" border="0"/></a> </div>
<div class="kong">&nbsp;</div>
<!--民谣频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">民谣频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="民谣频道"> <img src="templates/template/deafault/images/2.png" width="310" height="130" alt="民谣频道" border="0"/></a> </div>

<!--国语流行频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">国语流行频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="国语流行频道" class="black"> <img src="templates/template/deafault/images/2.png" width="310" height="130" alt="国语流行频道" border="0"/></a> </div>
<div class="kong">&nbsp;</div>
<!--粤语流行频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">粤语流行频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="粤语流行频道"> <img src="templates/template/deafault/images/2.png" width="310" height="130" alt="粤语流行频道" border="0"/></a> </div>
<div class="kong">&nbsp;</div>
<!--欧美流行频道-->
<div class="short">
  <div class="short_nav">
    <div class="left"></div>
    <div class="middle">欧美流行频道</div>
    <div class="right"></div>
  </div>
  <a href="player" title="欧美流行频道"> <img src="templates/template/deafault/images/2.png" width="310" height="130" alt="欧美流行频道" border="0"/> </a></div>
{include file='foot.html'} 