<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css.css" type="text/css" />
<!--[if IE 6]><link rel="stylesheet" href="ie6.css" type="text/css" /><![endif]-->
<script type="text/javascript" src="jquery-1.4a2.js"></script>
<script type="text/javascript" src="formValidator.js"></script>
<title>用户登录</title>
</head>
<body>
<script language="javascript">
$(document).ready(function(){
$.formValidator.initConfig({formid:"form1",onerror:function(msg){alert(msg)}}); 
$("#user").formValidator({onshow:"请输入用户名",onfocus:"用户名至少3个字符,最多20个字符",oncorrect:"该帐号可用"}).inputValidator({min:3,max:20,onerror:"你输入的用户名非法,请确认"}).ajaxValidator({
	    type : "GET",
		url : "../../../user_center.php?action=check_acount", 
        cache : false,
		success : function(data){	
          if( data == "0" )
			{
                return true;
			}
            else
			{
               return false;
			}
		},
		buttons:$('.button'),
		error: function(){alert("服务器没有返回数据，可能服务器忙，请重试");},
		onerror : "该用户名不存在，请更换用户名",
		onwait : "正在对用户名进行合法性校验，请稍候..."
	});
$("#password").formValidator({onshow:"请输入密码",onfocus:"密码不能为空",oncorrect:"密码合法"}).inputValidator({min:6,empty:{leftempty:false,rightempty:false,emptyerror:"密码两边不能有空符号"},onerror:"密码不少于6个字符"});
});
</script>
<form action="../../../user_center.php?action=login" method="post" id="form1">
  <h3>用户登录</h3>
  <table cellspacing="0" class="user" width="550">
    <tr>
      <td width="20%" align="right">用户名：</td>
      <td width="40%"><input type="text" name="username" class="text" id="user"/></td>
      <td width="40%"><div id="userTip" style="width:250px;float:left">&nbsp;</div></td>
    </tr>
    <tr>
      <td align="right">密码：</td>
      <td><input type="password" name="userpwd" class="text" id="password"/></td>
      <td><div id="passwordTip" style="width:250px;float:left">&nbsp;</div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;&nbsp;
        <input type="submit" value="登录" class="button"/></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>