/*ie7样式*/
.slide ul li span{position:absolute;top:222px; height:119px}
.slide .slide_content_list span dt{ margin:3px 3px 10px 12px;}
.slide .slide_content_list span dd{ margin-left:-29px}
.music_introduction_list span{top:130px;}
.music_introduction_list li{margin-top:-6px;}
.music_introduction_list a{ margin-bottom:5px}
.album_intro{ margin-top:0px}
.album_playlist li{ margin-top:5px}
#player_progress_load_bar{ margin-top:9px}